
.content {
  max-width: 744px;

  margin: auto;
  background: #e0efff;
  padding: 50px;
}
body {
  background: #2c3e50;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
 table, th, td { 
                border: 1px solid ; 
                border-spacing: 7px;
                
            } 
            th, td { 
                padding: 7px; 
                border-spacing: 7px;
            } 

.shadow{    
      text-shadow: 1px 1px #1c87c9;
    }


.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.dropbtn {
  background-color: #002699;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  
  
  background-color: red;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
        
.box {
  position: relative;
 left: 374px;
 top: 90px;
 width: 100%;
 height: 150px;
transform: translate(-50%, -50%);
}


.formm{
  
  top: 40px;
  left: 40px;
}
.footer {
   top: 20px;
   position: relative;
   padding: 0.5px;
   width: 100%;
   background-color: #2c3e50;
   color: white;
   text-align: center;
}

td{
  background-color: #ffffff;
  }

.box select {
  background-color: #2c3e50;
  color: white;
  padding: 3px;
  border: none;
  font-size: 18px;
  box-shadow: 0.2 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: menu;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}
.footer {
   
   position: relative;
   padding: 10px;
   width: 97.4%;
   background-color: #002699;
   color: white;
   text-align: center;
}
